<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <img src="/images/users.jpg" alt="Imagem de capa da view Users">
  <h1><%= title %></h1>
  <p><%= subtitle %></p>
  <a href="https://github.com/Marcelo-Diament/express-generator">Repositório</a>
</body>

</html>